body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #a7ebf352;
}
.container {
    text-align: center;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}
h1{
    color:rgb(5, 61, 85);
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #01918c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carta.volteada {
    background-color: #ddd;
    pointer-events: none;
}

.mensaje-ganador {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf4fcb;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #2b6f2f;
}